<!DOCTYPE>
<html>
    <head>
        <title>Chess-AI</title>
        <meta charset="utf-8">
        <link href="/static/css/chessboard-0.3.0.css" rel="stylesheet"/>
    </head>
    <body>
        <div id="board" style="width: 400px;margin:auto"></div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="/static/js/chessboard-0.3.0.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.2/chess.js"></script>
        <script src="/static/js/script.js"></script>
    </body>
</html>
